#parent{
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay1 {
  background: black;
  width: 71%;
  height: 64%;
  top: 7.5%;
  position: absolute;
  left: 2.5%;
}

.overlay2 {
  background: black;
  width: 40%;
  height: 9%;
  position: absolute;
  top: 71.5%;
}

.overlay3 {
  background: black;
  width: 73.5%;
  height: 20%;
  position: absolute;
  top: 79.5%;
}

.overlay4 {
  background: black;
  width: 5%;
  height: 5%;
  position: absolute;
  top: -0.5%;
  left: 95%;
}

.sec-widget {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
